@model IEnumerable<EfCodeFirst.Models.BlogPost>

@{
    ViewBag.Title = "Index";
}

<h2>Bolsa de Empleo P3</h2>

<form>
    <div class="col-md-5" id="categorias">
        <label for="Categoria">Categorias: </label>
        <select name="lista" id="lista">
            <option value="0">Todas</option>
            <option value="92">Administrador Bases de datos</option>
            <option value="1175">Desarrollador de Apps</option>
            <option value="2">QA Tester</option>
            <option value="24">QA Automation</option>
            <option value="10">Java Developer</option>
            <option value="8">Scrum Master</option>
            <option value="430">Desarrollador Web</option>
            <option value="30">Almacén</option>
            <option value="6">Analista</option>
            <option value="124">Arquitectura</option>
            <option value="76">Asesor</option>
            <option value="17">Asistente</option>
            <option value="46">Auditor</option>
            <option value="77">Automotriz</option>
            <option value="36">Auxiliar</option>
            <option value="654">Ayudante</option>
            <option value="3">Banco</option>
            <option value="1067">Barbero</option>
            <option value="421">Bartender</option>
            <option value="295">Bioanalista</option>
            <option value="1133">Bordador</option>
            <option value="34">Cajera</option>
            <option value="69">cajero</option>
            <option value="64">Calidad</option>
            <option value="128">Call Center</option>
            <option value="406">Camarera</option>
            <option value="420">Camarero</option>
            <option value="411">Camareros</option>
            <option value="166">Capacitación</option>
            <option value="60">Chef</option>
            <option value="39">Choferes</option>
            <option value="118">Civil</option>
            <option value="1078">Coach</option>
            <option value="116">Cobros</option>
            <option value="424">Cocinero</option>
            <option value="58">Comercial</option>
            <option value="44">Community</option>
            <option value="121">Comprador</option>
            <option value="49">Compras</option>
            <option value="217">Comunicacion</option>
            <option value="391">Consejos</option>
            <option value="413">Conserje</option>
            <option value="415">Conserjes</option>
            <option value="23">Consultor</option>
            <option value="47">Contabilidad</option>
            <option value="25">Contador</option>
            <option value="93">Contadora</option>
            <option value="465">Contratistas</option>
            <option value="67">Coordinador</option>
            <option value="656">Coordinadora</option>
            <option value="1129">CopyWriter</option>
            <option value="48">Costos</option>
            <option value="1154">Costurera</option>
            <option value="97">Créditos</option>
            <option value="89">Cuentas</option>
            <option value="452">Delivery</option>
            <option value="448">Delivey</option>
            <option value="103">Desarrollador</option>
            <option value="461">Despacho</option>
            <option value="661">Diagramador</option>
            <option value="91">Dibujante</option>
            <option value="445">Diésel</option>
            <option value="183">Digitador</option>
            <option value="59">Director</option>
            <option value="37">Diseñador</option>
            <option value="663">Diseñadora</option>
            <option value="38">Diseño Gráfico</option>
            <option value="209">Doctor</option>
            <option value="84">Documentación</option>
            <option value="434">Domestica</option>
            <option value="440">Editor</option>
            <option value="12">Ejecutiva</option>
            <option value="22">Ejecutivo</option>
            <option value="83">eléctrico</option>
            <option value="81">Electromecánico</option>
            <option value="98">Electronica</option>
            <option value="87">Electronico</option>
            <option value="1015">Empacador</option>
            <option value="875">Encargada</option>
            <option value="31">Encargado</option>
            <option value="969">Encuestadores</option>
            <option value="96">Enfermera</option>
            <option value="1037">Entrenador</option>
            <option value="395">Entrenamientos</option>
            <option value="382">Entretenimiento</option>
            <option value="449">Especialista</option>
            <option value="660">Estilistas</option>
            <option value="214">Estudiantes</option>
            <option value="117">Facilidades</option>
            <option value="122">Facturador</option>
            <option value="111">Farmacia</option>
            <option value="57">Finanzas</option>
            <option value="423">Fotógrafo</option>
            <option value="902">Fumigador</option>
            <option value="26">General</option>
            <option value="460">Generalista</option>
            <option value="50">Gerente</option>
            <option value="115">Gestor</option>
            <option value="655">Gondolero</option>
            <option value="462">Hostess</option>
            <option value="71">Hoteles</option>
            <option value="78">Industrial</option>
            <option value="20">Informática</option>
            <option value="40">Ingeniería</option>
            <option value="41">Ingeniero</option>
            <option value="101">Inspector</option>
            <option value="945">Instalador</option>
            <option value="1156">Instructor</option>
            <option value="1164">Instrumentista</option>
            <option value="986">Microbiologo</option>
            <option value="427">Modelos</option>
            <option value="104">Produccion</option>
            <option value="417">Productor</option>
            <option value="94">Profesores</option>
            <option value="106">Programador</option>
            <option value="442">Promociones</option>
            <option value="231">Promotor</option>
            <option value="63">Promotora</option>
            <option value="51">Proyectos</option>
            <option value="387">Psicólogos</option>
            <option value="79">Publicidad</option>
            <option value="80">Publicista</option>
            <option value="123">Quimico</option>
            <option value="70">Recepcionista</option>
            <option value="443">Reclamaciones</option>
            <option value="74">Reclutamiento</option>
            <option value="11">Recursos Humanos</option>
            <option value="120">Supermercados</option>
            <option value="5">Supervisor</option>
            <option value="436">Taller</option>
            <option value="66">Técnicos</option>
            <option value="21">Tecnología</option>
            <option value="1108">Tecnólogo</option>
            <option value="1137">Terapeuta</option>
            <option value="957">Terapista</option>
            <option value="446">Tesorería</option>
            <option value="32">Tienda</option>
            <option value="952">Topografo</option>
            <option value="698">Traductor</option>
            <option value="392">Trafico</option>
            <option value="941">Trainee</option>
            <option value="1113">Training</option>
            <option value="109">Transporte</option>
            <option value="1">Uncategorized</option>
            <option value="99">Vacantes</option>
            <option value="52">Varios</option>
            <option value="464">Vendedor</option>
            <option value="16">Ventas</option>
            <option value="432">Veterinario</option>
            <option value="86">Visitador</option>
            <option value="102">Web</option>
        </select>
        <button type="button">Buscar</button>
    </div>
</form>

<h2>Puestos Recientes</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contenido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Autor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Publicacion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Titulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contenido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Autor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Publicacion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>

   
    
  
